* {
  margin:0px;
  padding:0px;
  text-decoration:none;
  border:none;
  box-sizing:border-box;
  font-family:'poppins', sans-serif;
}

.wrapper {
  min-height:100vh;
  background:url(Hot_dog.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  display:flex;
  align-items:center;
  justify-content:center;
}
.wrapper .menu-wrapper {
  backdrop-filter: blur;
  height:350px;
  width:250px;
  background:transparent;
  align-items:center;
  border-radius:8px;
  box-shadow:0 0 10px 0 rgba(0,0,0,0.2);
}
.wrapper .menu-wrapper .content h1 {
  font-size:20px;
  text-transform:capitalize;
  font-family:sans-serif;
  margin-bottom:55px;
  left:14px;
  margin-top:12px;
  color:#fff;
}
.wrapper .menu-wrapper .form {
  padding:25px;
  align-items: center;
  justify-content:center;
  display:flex;
}
.wrapper .menu-wrapper .form form input {
  width:150px;
  height:28px;
  outline:none;
  box-shadow:0 0 10px rgba(0,0,0,0.2);
  border-bottom:1px solid rgba(0,0,0,0.2);
}
.wrapper .menu-wrapper .form .submit-btn {
  background:orange;
  color:#fff;
  padding:3px;
  border-radius:5px;
  margin-left:3px;
}
.wrapper .menu-wrapper .form form input::placeholder {
  text-align:center;
}
.wrapper .menu-wrapper .form .submit-btn:hover {
  background:yellow;
  color:#fff;
  transition:0.3s;
}
